// font-weight
$fw-bold: 700;
$fw-thick: 500;
$fw-normal: 400;
$fw-light: 300;
$fw-thin: 200;

// color
$c-main-black: #1b1b1b;
$c-light-gray: #d8d8d8;

// max-width
$max-width: 52rem;

// z-index
$z-header: 100;