@import '../abstracts/variables';

.container {
  padding: 1rem 2rem 5rem;

  section {
    position: relative;
  }
}

.wrap {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.title {
  font-weight: $fw-normal;
  font-size: 1.7rem;
}

.viewMore {
  position: absolute;
  top: 0.5rem;
  right: 0;
  font-size: 1.3rem;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}