@import '../abstracts/variables';
@import '../abstracts/mixins';

.container {
  padding: 1rem 2rem 5rem;

  section {
    position: relative;
  }
}

.title {
  font-weight: $fw-normal;
  font-size: 1.7rem;
}

.viewMore {
  position: absolute;
  top: 0.5rem;
  right: 0;
  font-size: 1.3rem;
  
  @include hover-effect;
}