@import '../abstracts/variables';

.container {
  padding: 1rem 0 5rem;
}

.wrap {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.title {
  font-weight: $fw-normal;
  font-size: 1.7rem;
}