@import '../abstracts/variables';

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0 0;
  margin: 0 auto;
  max-width: $max-width;

  a {
    width: 8rem;
    line-height: 3;
    font-size: 1.8rem;
    text-align: center;
  
    &::after {
      content: '';
      display: block;
      border-bottom: 0.2rem solid $c-main-blue;
      transform: scaleX(0);
      transition: 0.3s ease-in-out;
    }
  
    &:hover, &.active {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}


