.wrap {
  height: 35rem;
  cursor: pointer;
  
  &:hover {
    .img {
      transform: scale(1.05) translateY(-1rem);
    }
  }
}

.img {
  overflow: hidden;
  position: relative;
  margin: 0;
  height: 30rem;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.4rem 1.2rem;
  transition: transform 0.2s ease-in-out;
}

.title {
  margin-top: 1rem;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  font-weight: normal;
}